<html>
  <head>
    <title>Grades</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/grades.css}" rel="stylesheet" />
    <link th:href="@{/footer.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="topnav">
      <a th:href="@{/}">Form</a>
      <a th:href="@{/grades}">Grades</a>
    </div>

    <div class="container">
      <h2>Grades</h2>
      <table id="table">
        <tr>
          <th>Student</th>
          <th>Course Code</th>
          <th>Course Name</th>
          <th>Score</th>
          <th>Update</th>
        </tr>
        <tr th:each="grade: ${grades}">
          <td th:text="${grade.name}"></td>
          <td th:text="${grade.courseCode}"></td>
          <td th:text="${grade.courseName}"></td>
          <td th:text="${grade.score}"></td>
          <td>
            <a role="button" class="update" th:href="@{/(id = ${grade.id})}"
              >Update</a
            >
          </td>
        </tr>
      </table>
    </div>
    <div class="footer">
      <a href="https://www.linkedin.com/in/jamilletni/" target="_blank" rel="noreferrer" class="fa fa-linkedin"></a>
      <a href="https://github.com/JamilleN" target="_blank" rel="noreferrer" class="fa fa-github"></a>
      <p class="footer_text">© 2023 built by Jamille Ni. All rights reserved</p>
    </div>
  </body>
</html>
